<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top: 10px;">
  <h1>
    Aviva's loop machine
  </h1>
  <div class="container">  
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>
    <app-pad  loopLink="src\assets\120_future_funk_beats_25.mp3"></app-pad>  
  </div>
</div>