
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html, body {
  /* height: 100%; */
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 30px; 
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around; 
  align-content:space-around;
  align-items: center;
}
  .audioPlayer {
    width: 300px;
    height: 300px;
    cursor: pointer;
    border: 1px solid #FCD8D4;
    border-radius: 5px;
    padding: 30px;
}
.btn {
  background: #FCD8D4;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
@media screen and (max-width: 1200px) {
  .container{
    padding: 25px;
  }
  .audioPlayer {
    width: 200px;
    height: 200px;
  }
  .btn{
  font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .container{
    padding: 15px;
  }
  .audioPlayer {
    width: 100px;
    height: 100px;
  }
  .btn{
    font-size: 12px;
  }
}

.audioPlayer audio{
  width: 100%;
}

.btn:hover {
  opacity: 0.5;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

