@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px auto;
  overflow:auto;
  padding: 30px;
}

  .audioPlayer {
    flex: 4;
    width: 300px;
    height: 300px;
    background-image: url('https://picsum.photos/536/354');
    background-size: cover;
    /* position: relative; */
    border: 1px solid red;
    border-radius: 5px;
    padding: 30px;
    /* overflow:auto; */
}

.audioPlayer audio{
  bottom: 0;
  width: 100%
}
.btn {
  display: inline-block;
  background: #FCD8D4;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:hover {
  opacity: 0.5;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn:disabled {
  cursor: auto;
  opacity: 1;
}
.btn-block {
  display: block;
  width: 100%;
}

